{% load admin_list %}
{% load i18n %}
<div class="row">
    <div class="col-xs-6 hidden-xs">
        <ul class="pagination pagination-sm no-margin">
            {% if pagination_required %}
            {% for i in page_range %}
            {% if '.' in i %}
            <li><a>...</a></li>
            {% else %}
            <li>{% paginator_number cl i %}</li>
            {% endif %}
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div class="col-xs-6 text-right">
        {{ cl.result_count }} {% if cl.result_count == 1 %}{{ cl.opts.verbose_name }}{% else %}{{ cl.opts.verbose_name_plural }}{% endif %}
        {% if show_all_url %}&nbsp;&nbsp;<a href="{{ show_all_url }}" class="showall">{% trans 'Show all' %}</a>{% endif %}
        {% if cl.formset and cl.result_count %}<input type="submit" name="_save" class="default" value="{% trans 'Save' %}"/>{% endif %}
    </div>
</div>