{% extends 'crwyadmin/base.html' %}
{% block page_content %}
{% load i18n %}

<!-- Container -->
<div id="container">
    <section class="content-header">
        <h1>{{ title }}</h1>
        <ol class="breadcrumb">
            <li>
                <a href="javascript:void(0);"><i class="fa fa-home"></i>{% trans 'Home' %}</a>
            </li>
            <li class="active"><a href="javascript:void(0);">{{ title }}</a></li>
        </ol>

    </section>

    <!-- Content -->
    <section id="content" class="content">
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fa fa-ban"></i>
                {% for error in form.errors %}
                {{ error }}
                {% endfor %}
            </h5>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <i class="fa fa-clipboard"></i>
                            {% trans 'workplace' %}{% block pretitle %}{% endblock %}
                        </h4>
                        <div class="box-tools pull-right">
                            {% block object-tools %}{% endblock %}
                        </div>
                    </div>

                    <div class="box-body">
                        <form action="/crwyadmin/config/system/" class="form-horizontal" method="post">
                            {% csrf_token %}
                            {% for field in form %}

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <div class="col-sm-6">
                                    {{ field }}
                                </div>
                            </div>
                            {% endfor %}

                            <hr>
                            <input class="btn btn-primary pull-right" type="submit" value="{% trans 'save' %}">
                        </form>

                    </div>
                </div>
            </div>
    </section>
    <!-- END Content -->


    {% block footer %}<div id="footer"></div>{% endblock %}

</div>
<!-- END Container -->

{% endblock %}